@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
* {
    font-family: 'Comic Neue', cursive;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}
body{
    background: #8ecae6;
}
#div-title {
    float: right;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    width: max-content;
    border-bottom: 3px black solid ;
    border-left: 3px black solid;
    background-color:#14213d;
    padding: 5px;
    box-sizing: content-box;
    color: white;
}
.items{
    width: 100%;
}
/*Large screen devices like desktop*/
@media (min-width:992px) {
    #div1,#div2,#div3 {
        float: left;
        width: calc(100%/3 - 20px);
        height: 500px;
        margin: 5px;
        background: #fca311;
        border: 5px solid black;
        box-sizing: content-box;
    }
    #div-body {
        padding: 5px;
        padding-top: 0px;
        font-size: 20px;
    }
    #div-body:first-letter{
        text-transform: capitalize;
        font-size: 30px;
    }
}
/*Medium screen devices like tablet*/
@media (min-width:769px) and (max-width:991px) {
    #div1,#div2{
        float: left;
        width:calc(50% - 10px);
        height: 300px;
        background: #fca311;
        margin: 5px;
        border: 5px solid black;
    }
    #div3{
        float: left;    
        width:100%;
        background: #fca311;
        border: 5px solid black;
        margin-top: 5px;
    }
    #div-body {
        padding: 5px;
        padding-top: 0px;
    }
    #div-body:first-letter{
        text-transform: capitalize;
        font-size: 30px;
        font-size: 15px;
    }
}
/*Small screen devices like phone*/
@media (max-width: 768px ){
    #div1,#div2,#div3 {
        float: left;
        width:100%;
        background: #fca311;
        border: 5px solid black;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #div-body {
        padding: 5px;
        padding-top: 0px;
    }
    #div-body:first-letter{
        text-transform: capitalize;
        font-size: 30px;
    }
}