* {
    font-family: 'Supermercado One', cursive;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}
body{
    background: #5D6D7E;
}
#div-title {
    float: right;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    width: max-content;
    border-bottom: 3px black solid ;
    border-left: 3px black solid;
    background-color:#F73B32;
    padding: 5px;
    box-sizing: content-box;
}

/*Large screen devices like desktop*/
@media (min-width:992px) {
    .items {
        display:flex;
        flex-wrap: wrap;
    }
    .items > div {
        flex: 400px;
        background: pink;
        margin-left: 2.5px;
        margin-right: 2.5px;
        border: 5px black solid;
    }
    #div-body {
        padding: 5px;
        padding-top: 0px;
    }
    #div-body:first-letter{
        text-transform: capitalize;
        font-size: 30px;
    }
}
/*Medium screen devices like tablet*/
@media (min-width:769px) and (max-width:991px) {
    .items {
        display:flex;
        flex-wrap: wrap;
    }
    .items > div {
        flex: 400px;
        background: pink;
        margin-left: 2.5px;
        margin-right: 2.5px;
        border: 2px black solid;
    }
    #div-body {
        padding: 8px;
    }
    #div-body:first-letter{
        text-transform: capitalize;
        font-size: 30px;
    }
}
/*Small screen devices like phone*/
@media (max-width: 768px ){
    .items {
        display:flex;
        flex-wrap: wrap;
    }
    .items > div {
        flex: 400px;
        background: pink;
        margin-left: 2.5px;
        margin-right: 2.5px;
        border: 2px black solid;
    }
    #div-body {
        padding: 8px;
    }
    #div-body:first-letter{
        text-transform: capitalize;
        font-size: 30px;
    }
}